<div class="jumbotron text-center">

	<h1>{{ message }}</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-5">
<p>
<table>
	<tr>
		<td>
			<p>
				<i>Time for a change</i>
				<p>Out with Boring Abamo.</p>
			<p>Giving has never been so easy.</p>
			<p>Just click <a href ="#donate">here</a> to go to the</p>
			<p>Donation page and empty your wallet</p>
		</td>
		<td><img src="./images/homer.gif"></td>
	</tr>
</table>  
</p>
</div></div>
</div>